@import "components/vars";
@import "components/animate";

.foobarbaz {
	color: red;
}

html {
	background: #fefff8;
	font-family: "Heebo", sans-serif;
	height: 100vh;
	position: relative;

	&:before {
		background: $teal;
		content: "";
		height: 10px;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 1000;
	}

	&:after {
		background: linear-gradient(to bottom, $teal 0%, $blue 90%);
		content: "";
		height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
		width: 10px;
		z-index: 2000;
	}
}

body {
	position: relative;
	background-color: #fefff8;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f1f2e8' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: $darkGray;
	font-family: "Heebo", sans-serif;
	padding: 50px;

	&:before {
		background: $blue;
		content: "";
		height: 10px;
		left: 0;
		position: fixed;
		bottom: 0;
		width: 100vw;
		z-index: 3000;
	}

	&:after {
		background: linear-gradient(to top, $blue 0%, $teal 90%);
		content: "";
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		width: 10px;
		z-index: 4000;
	}
}

a {
	color: $blue2;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: $purple;
	}
}

main {
	justify-content: center;
	display: flex;
	height: 100vh;
	margin: 0 auto;
	max-width: 90vw;
	@media (min-width: 900px) {
		align-items: center;
		margin: 0 auto;
		max-width: 650px;
	}
}

h1 {
	font-size: 8vw;
	line-height: 1.2;
	text-align: center;
	@media (min-width: 900px) {
		font-size: 4vw;
	}

	@media (min-width: 1400px) {
		font-size: 60px;
	}
}

.emoji {
	display: block;
	font-size: 13vw;
	margin-bottom: 10px;
	@media (min-width: 900px) {
		font-size: 8vw;
	}

	@media (min-width: 1400px) {
		font-size: 4vw;
	}
}

.headline-text {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from($purple),
		to($red)
	);
	background-image: linear-gradient(90deg, $purple, $red);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-mask-image: linear-gradient(90deg, $purple, $red);
	display: block;
	font-weight: 900;
}

.more-content {
	margin-top: 100px;
}

p {
	font-size: 20px;
	margin-bottom: 50px;
}

.intro {
	font-size: 26px;
	text-align: center;
}

.social {
	text-align: center;
	a {
		font-size: 4vh;
		margin: 5px;
	}
}

.linkedin {
	color: #0073b1;
	&:hover {
		color: #0084cb;
	}
}

.github {
	color: #333;
	&:hover {
		color: #4d4d4d;
	}
}

.email {
	color: #666;
	&:hover {
		color: gray;
	}
}
