$green-60: rgba(101, 167, 68, 0.6);
$blue-60: rgba(18, 107, 181, 0.6);
$green: rgb(101, 167, 68);
$blue: rgb(18, 107, 181);
$dark-blue: #02457a;
$gray: #808080;
$gray-lighter: #989898;
$yellow: #f3e85c;
$green-lighter: #a4cd93;
$green-darker: darken($green-lighter, 15%);
$green-darkest: darken($green, 15%);
